.pageFilter {}

.pageFilter .filterRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.pageFilter .filterRow .rowLabel {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.pageFilter .filterRow .year  {
    width: 40%;
}

.pageFilter .filterRow .year .ant-select {
    width: 100%;
}